* {
  font-family: "Balsamiq Sans", cursive;
  color: #c66344;
}
.app {
  height: auto;
}
body {
  background-color: #f6e2d2;
}
.homepage-container {
  min-height: 650px;
}
.main-title {
  color: #c66344;
  font-size: 64px;
}
.share-button-1,
.share-button-2 {
  height: 75px;
  width: 287px;
  border: none;
  border-radius: 15px;
  background-color: #fff6ee;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
.share-button-1:hover,
.share-button-2:hover {
  transform: scale(1.1);
}
.share-button-2 {
  background: #ffffff;
}
.fab,
.fas {
  font-size: 30px;
  cursor: pointer;
}
.quote-container {
  height: auto;
}
.input-box {
  min-width: 56%;
  height: 359px;
  background: #fff6ee;
  border-radius: 15px;
}
.name-area {
  width: 55%;
  border: none;
  list-style-type: none;
  border-radius: 15px;
  padding: 5px;
}
.text-area {
  height: 65%;
  width: 95%;
  border: none;
  list-style-type: none;
  border-radius: 15px;
  padding: 5px;
}
.quote-card {
  width: 408px;
  min-height: 239px;
  border-radius: 15px;
  background-color: #fff6ee;
  padding: 10px;
}
.card-title {
  font-size: 20px;
  font-weight: 400;
}
.card-caption {
  font-size: 14px;
}
.toggle-box {
  width: auto;
  height: 70px;
  border: none;
  border-radius: 15px;
  background-color: #fff6ee;
}
.content1 {
  min-height: 650px;
  background-color: #c66344;
}
.content1-title {
  font-size: 4rem;
  color: #f6e2d2;
}
.content1-info {
  color: #f6e2d2;
}
.content2 {
  min-height: 650px;
}
.content3 {
  background-color: #c66344;
  min-height: 650px;
}
.content3-title {
  color: #f6e2d2;
}
.content3-info {
  color: #f6e2d2;
}
.back-button {
  position: absolute;
  list-style-type: none;
  border: none;
  background-color: transparent;
  top: 0;
  left: 0;
  padding: 6px;
  margin: 10px 0 10px 0;
}
.container2 {
  position: relative;
}
